<!-- header -->
<div class="tk-header">
  <!-- image container -->
  <div class="tk-image-container">
    <img [src]="prefix + '/assets/images/title.png'" alt="Scripter Playground">
  </div>
</div>

<!-- body -->
<div class="tk-body">
  <div class="tk-list-container">
    <a
      *ngFor="let item of data; let index = index"
      [routerLink]="prefix + item.routes"
      [class.span-2]="item.wide"
      [style.background-image]="item.backgroundImage"
      class="tk-list-item tk-background-item tk-shadow-item"></a>
  </div>
</div>
