@import "styles/mixins";
@import "styles/props";

:host {
  @include box(100%);
  @include topLeft;
  @include flex(stretch, null, column, nowrap);
  position: absolute;
  overflow: auto;
}

// main header
.tk-header {
  @include padding(20px 0);
  @include flex(center, center);
}

// sns links
.tk-sns-links {
  margin-top: 30px;
}

// description
.tk-description {
  font-size: 13px;
  text-align: center;
  color: $dark-grey;
  max-width: 100%;
  margin: 10px 0 50px;
}

// list container
.tk-list-container {
  width: calc(100% - 40px);
  margin: 0 auto;
  max-width: 540px;

  a {
    display: block;
  }

  a + a {
    margin-top: 20px;
  }
}
