<!-- header -->
<div class="tk-header">
  <app-title></app-title>
</div>

<!-- links -->
<div class="tk-sns-links">
  <a [href]="githubUrl" target="_blank">
    <app-icon name="github"></app-icon>
  </a>

  <a [href]="instagramUrl" target="_blank">
    <app-icon name="instagram"></app-icon>
  </a>
</div>

<!-- description -->
<div class="tk-description">
  JavaScript Playground by Scripter
</div>

<!-- list container -->
<div class="tk-list-container">
  <!-- render list item -->
  <a
    *ngFor="let item of data"
    [href]="prefix + item.route">
    <app-list-item
      [playground]="item"></app-list-item>
  </a>
</div>
